<nav class="navbar navbar-expand bg-light mt-2">
  <div class="container-fluid">
    <span class="navbar-brand">Companies</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toolbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="toolbar">
      <div data-controller="company-search">

      </div>
    </div>
  </div>
</nav>
